img {
  width: 100%;
}

html {
  background-color: #c9b5ae;
  font-family: 'PT Serif', serif;
}

h1, h2, h3 {
  color: #461022;
  font-family: 'PT Sans', sans-serif;
}

i {
  font-style: italic, bold;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

figcaption {
  font-style: italic;
  text-align: center;
}

nav {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}


a,
a:link {
  text-decoration: none;
  color: #97203c;
}

a:hover {
  color: #461022;
  text-decoration: underline;
}
}


blockquote {
  font-style: italic;
  font-size: 2rem;
}

ol:nth-child(1) {
  list-style-type: none;
}

dl > dt {
  font-weight: bold;
}
