
img {
  width: 100%;
}

html {
  background-color: #c9b5ae;
  font-family: "PT Serif", serif;
}

h1, h2, h3 {
  color: #461022;
  font-family: "PT Sans", sans-serif;
}

h1 > i {
  font-style: italic;
  font-weight: bold;
}

figcaption {
  font-style: italic;
  text-align: center;
}

blockquote {
  font-style: italic;
  font-size: 1.7rem;
  text-decoration: none;
  font-weight: normal;
  line-height: 1.45;
}

cite {
  font-style: italic;
}

cite:last-child {
  font-size: 1.3rem;
  text-indent: 1em;
}

nav {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

a,
a:link {
  text-decoration: none;
  color: #97203c;
}

a:hover {
  color: #461022;
  text-decoration: underline;
}

.germination {
  font-weight: bold;
  font-size: 1.4rem;
}

.varieties {
  list-style-type: lower-greek;
}

ol:first-child {
  list-style-type: none;
}

.servingsize {
  font-style: italic;
}

main ol {
  list-style-type: lower-greek;
}

dl > dt {
  font-weight: bold;
}

ul {
  list-style-type: circle;
}
